@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body, html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  max-height: 100%;
}

body {
  margin: 0%;
  background-color: rgba(0, 0, 0, 0.63);
}

.bgImg {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  animation: img 20s infinite;
}
@keyframes img {
  0% {background-image: url(https://cdn.discordapp.com/attachments/804558841189498930/880667469419806760/myBlur.jpg);}
  30% {background-image: url(https://cdn.discordapp.com/attachments/804558841189498930/880667469419806760/myBlur.jpg);}
  50% {background-image: url(https://cdn.discordapp.com/attachments/804558841189498930/882192252020084736/my2blur.jpg);}
  90% {background-image: url(https://cdn.discordapp.com/attachments/804558841189498930/882193061927612416/myblur4.jpg);}
  100% {background-image: url(https://cdn.discordapp.com/attachments/804558841189498930/880667469419806760/myBlur.jpg);}
}

* {
  box-sizing: border-box;
}

.q324trv {
  color: white;
  font-weight: bold;
  z-index: 2;
  padding: 5% 0 5% 0;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.l1l1l {
  height: 180px;
  border-radius: 50%;
  border: 3px solid azure;
}

h1 {
  margin: 3% 0% 3% 0%;
}

figure {
  object-position: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.las, .lab {
  font-weight: lighter;
  padding: 3px;
  text-align: left;
  text-decoration: none;
}

.la {
  font-size: 35px;
}

 a:link {
  color: #EEEEEE;
  transition: 0.3s;
  cursor: pointer;
}

a:visited {
  color: #EEEEEE;
  transition: 0.5s;
}

a:hover {
  color: #00ADB5;
  transition: 0.3s;
}

a:active {
  color:rgb(24, 92, 83);
  transition: 0.3s;
}

.wq34t {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  border-radius: 20px;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

.nror43 {
  font-weight: 400;
  font-size: 15px;
}

.lov3e15a {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  border: 2px solid azure;
  border-radius: 100px;
  margin: 20px;
  transition: 0.3s;
}

h3 {
  font-size: 20px;
  margin: auto;
  padding: 25px;
  transition: 0.3s;
  border-radius: 100px;
}

.lov3e15a h3:hover {
  background-color: black;
  border-radius: 100px;
  font-size: 30px;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Style the buttons that are used to open and close the accordion panel */
.b0x4rw4 {
  margin-left: 10px;
  margin-right: 10px;
}

.accordion {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 20px;
  outline: none;
  transition: 0.3s;
}

.active, .accordion:hover {
  background-color: rgba(0, 172, 181, 0.4); /* Black w/opacity/see-through */
  transition: 0.3s;
}

.active, .accordion:link {
  background-color: #2B2B2B;
  text-align: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel {
  padding: 0 18px;
  background-color: rgb(65, 65, 65);
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

/* ------------------------------ */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  overflow: scroll;
  cursor: pointer;
}

#oImg {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 500px;
  border-radius: 30px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
  #oImg {
    width: 80%;
  }
}
