.markdown-body ol,.markdown-body ul {
    color: aliceblue;
    columns: 3;
  }

.markdown-body a:link {
    color: #d14995;
    text-decoration: none;
}

.markdown-body a:visited {
    color: #7c49c6;
}

@media (max-width: 980px) {
    .markdown-body ol,.markdown-body ul {
        columns: 2;
    }
}

@media (max-width: 480px) {
    .markdown-body ol,.markdown-body ul {
        columns: 1;
    }
    ol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 580px;
        overflow-y: scroll;
    }
}
